# Dont include the c# obj and bin folders
/dotnet_server/dotnet_server/bin/
/dotnet_server/dotnet_server/obj/

/dart_server/storage
/dart_server/lib/tools/tfl_route_generator/audios/iBus-20231124T123541Z-001
/dart_server/tmp

/dotnet_server/dotnet_server/includes/rpi-rgb-led-matrix

if (audioData[0] == 255 && audioData[1] == 243 && audioData[2] == 192 && audioData[3] == 196) {
      print('Detected MP3 format');
      format = 'mp3';
    } else {
      print('Detected WAV format');
      format = 'wav';
    }