# Dont include the c# obj and bin folders
/dotnet_server/dotnet_server/bin/
/dotnet_server/dotnet_server/obj/

/dart_server/storage
/dart_server/lib/tools/tfl_route_generator/audios/iBus-20231124T123541Z-001