[Unit]
Description=ibus-daemon
After=network.target

[Service]
Type=idle
User=imbenji
WorkingDirectory=/home/imbenji/physical_infotainment
ExecStart=/bin/bash -c './run.sh'
Restart=on-success
RestartSec=5

[Install]
WantedBy=multi-user.target